@import url(pokemon.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    background: #c04000;
}

header, main ,footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        display: flex;
        width: 100%;
        max-width: 1920px;
        padding: 0 16px;
    }
}

header,footer {
    height: 10dvh;
}

main {
    height: auto;
    min-height: 80dvh;
    .content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 16px;
        padding: 64px 16px;
    }
}