@import url(pokemon.css);

@font-face {
    font-family: DynaPuff;
    src: url(assets/fonts/DynaPuff-Bold.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway-Regular.ttf);
}

:root {
    --bg: #c04000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    background: var(--bg);
    font: 16px Raleway;
}

header, main ,footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        width: 100%;
        max-width: 1920px;
        padding: 16px;
    }
}

header {
    background: var(--bg);
    height: 15dvh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    .content {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 32px;
        img {
            padding: 16px 0;
            height: 100%;
            margin-right: 64px;
        }
    }
    @media (max-width: 850px) {
        .content {
            flex-direction: column;
            img{
                height: 60%;
                margin: 0;
            }
        }
    }
}

footer {
    height: 5dvh;
}

main {
    height: auto;
    min-height: 80dvh;
    .content {
        padding: 32px;
        .pkmn-area {
            display: flex;
            width: 100%;
            justify-content: center;
            flex-wrap: wrap;
            gap: 16px;
            padding: 32px 0;
        }
    }
}

h1 {
    font-size: 3.6rem;
    color: white;
}

h2 {
    font: 2.4rem DynaPuff;
    color: white;
}

button {
    background: #0080ff;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    font: 16px Raleway;
}

form {
    color: white;
    input[type=text] {
        width: 400px;
        font-size: 16px;
        border-radius: 8px;
        border: 1px solid white;
        outline: none;
        margin-left: 8px;
        padding: 8px 60px 8px 8px;
    }
    input[type=submit] {
        background: #0080ff;
        color:white;
        font-size: 16px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid white;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    .errmsg {
        margin-left: 70px;
        margin-top: 4px;
        height: 20px;
    }
}
@media(max-width: 600px) {
    header {
        height: 25dvh;
    }
    form {
        display: felx;
        flex-direction: column;
        label {
            display: flex;
            margin-bottom: 4px;
        }
        input[type=text] {
            width: 300px;
        }

        @media(max-width: 350px) {
            input[type=text] {
                width: 250px;
            }
        }
    }
}

.load-screen {
    display: flex;
    background: var(--bg);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85dvh;
    position: fixed;
    top: 15dvh;
    left: 0;
    img {
        width: auto;
        max-width: 100%;
        animation: spin 1s linear infinite;
    }
}

.d-none {
    display: none;
    animation-play-state: paused;
}

.ta-right {
    text-align: right;
}

.stop-scroll {
    overflow-y: hidden;
}
.pdr {
    padding-right: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#close-btn {
    display: flex;
    width: 24px;
    height: 24px;
    color: white;
    background: red;
    border-radius: 50%;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}